{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "parser": "babel-eslint",
  "rules": {
    "semi": "error"
  },
  "plugins": ["react-hooks"],
  "extends": ["plugin:react-hooks/recommended"]
}
