.board {
  display: fixed;
  top: 0;
  left: 0;
  background-color: #282c34;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  border: 0 solid white;
  box-sizing: border-box;
}

.content {
  position: relative;
}

.box {
  position: relative;
}
