@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url(https://fonts.googleapis.com/css?family=Satisfy);

body {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #000000;
  --bg-secondary-color: #121212;
  --font-color: #f9fbfa;
  --font-color2: #b3b3b3;
  --color-darkGrey: #121212;
  --color-darkBlueGrey: #151a23;
  --color-blueGrey: #19202c;
  --color-lightGrey: #90969d;
  --color-grey: #454545;
  --color-midGrey: #2c3749;
  --color-primary: #db5034;
  --color-secondary: #00a698ff;
  --color-error: #d43939;
  --color-success: #28bd14;
  --grid-maxWidth: 120rem;
  --grid-gutter: 2rem;
  --font-size: 1.6rem;
  --font-family-sans: "Roboto", sans-serif;
  --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
}

.blurry {
  filter: blur(3px);
}

.button,
[type="button"],
[type="reset"],
[type="submit"],
button {
  padding: 1rem 2.5rem;
  color: var(--font-color);
  background: var(--color-midGrey);
  border-radius: 0;
}

.button:hover,
[type="button"]:hover,
[type="reset"]:hover,
[type="submit"]:hover,
button:hover {
  filter: brightness(125%);
  opacity: 1;
}

/*.button.clear,
[type="button"].clear,
[type="reset"].clear,
[type="submit"].clear,
button.clear {
  font-weight: 300;
  border-radius: 0;
  color: var(--font-color2);
  letter-spacing: -1px;
  padding: 0;
}


.button.clear:hover,
[type="button"].clear:hover,
[type="reset"].clear:hover,
[type="submit"].clear:hover,
button.clear:hover {
  color: var(--font-color);
  border-bottom: 1px solid var(--color-primary);
}*/

a:hover:not(.button) {
  filter: brightness(125%);
  opacity: 1;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-sans);
}

.tabs a {
  color: var(--font-color);
}

input::placeholder {
  color: var(--color-lightGrey);
  color: var(--color-grey);
}

input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="color"]):not([type="button"]):not([type="reset"]),
select,
textarea,
textarea[type="text"] {
  border-radius: 2px;
  background-color: var(--color-lightGrey);
  color: var(--bg-secondary-color);
}

/* Animation definition */

/* hvr-pop */
@keyframes hvr-pop {
  0% {
    transform: scale(3);
  }
}
.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pop {
  animation-name: hvr-pop;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

/* Wobble Horizontal */
@keyframes hvr-wobble-horizontal {
  16.65% {
    transform: translateX(8px);
  }
  33.3% {
    transform: translateX(-6px);
  }
  49.95% {
    transform: translateX(4px);
  }
  66.6% {
    transform: translateX(-2px);
  }
  83.25% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}
.hvr-wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-horizontal {
  animation-name: hvr-wobble-horizontal;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

/* Curl Top Right */
.hvr-curl-top-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.hvr-curl-top-right:before {
  pointer-events: none;
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  top: 0;
  right: 0;
  background: linear-gradient(
    225deg,
    #222222 42%,
    white 45%,
    #aaa 50%,
    #ccc 56%,
    white 80%
  );
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: width, height;
  transition-property: width, height;
  z-index: 5;
  opacity: 0.5;
}
.hvr-curl-top-right:hover:before,
.hvr-curl-top-right:focus:before,
.hvr-curl-top-right:active:before {
  width: 7px;
  height: 7px;
}
