@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;500;700;800&display=swap');

body {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #2a2a2aff;
  --bg-secondary-color: #1f1f1fff;
  --font-color: #f9fbfaff;
  --color-darkGrey: #2a2a2aff;
  --color-lightGrey: #888886ff;
  --color-grey: #404040ff;
  --color-primary: #db5034ff;
  --color-secondary: #00a698ff;
  --color-error: #d43939;
  --color-success: #28bd14;
  --grid-maxWidth: 120rem;
  --grid-gutter: 2rem;
  --font-size: 1.6rem;
  --font-family-sans: sans-serif;
  --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
}

.button, [type="button"], [type="reset"], [type="submit"], button {
	padding: 1rem 2.5rem;
	color: var(--font-color);
	background: var(--color-grey);
}


h1, h2,h3,h4,h5 {
  font-family: "Merriweather Sans", sans-serif;
}