body {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #2a2a2aff;
  --bg-secondary-color: #00a698ff;
  --font-color: #f9fbfaff;
  --color-grey: #404040ff;
  --color-darkGrey: #777;
  --color-primary: #db5034ff;
  --color-lightGrey: #9a9a9aff;
  --color-error: #d43939;
  --color-success: #28bd14;
  --grid-maxWidth: 120rem;
  --grid-gutter: 2rem;
  --font-size: 1.6rem;
  --font-family-sans: sans-serif;
  --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
}
